/* ==========================================================================

// Footer File 
// Theme styles for the website footer.

/* ========================================================================== */

footer {
	padding:2rem;
	font-size: 1.4rem;
}

.copyright {
	@include grid(12);
}

.host-details {
	float: right;
}