/* ==========================================================================

// Header File 
// Theme styles for the website header.

/* ========================================================================== */
.header {
	position: relative;

	@media (min-width: $small) {
		height:60rem;
		height:50vh;
	}


	&__bg {
		background: url('../static/images/hero_1.jpg') no-repeat left top;
		background-size: auto 100%;
		transition:background-position 0.4s;
		height: 30rem; // fallback
		height: 50vh;

		@media (max-width: $small-max) {
			border-bottom:0.1rem solid $color-3;
		}

		@media (min-width: $small) {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
		}

		@media (min-width: $medium) {
			background-position:0 top;
		}

		@media (min-width: $standard) {
			background-position:40% top;
		}

	}

	&__entry {
		display: table-cell;
		vertical-align: middle;
		text-align: center;

		@media (max-width: $small-max) {
			padding-top:3rem;
			padding-bottom: 3rem;
		}

		@media(min-width: $small) {
			text-align:right;
		}
	}

	&__ctn-area {
		width: 90%;
		text-align: center;
		display: inline-block;
		text-shadow: 0.1rem 0.1rem 0.1rem rgba($color-1, 0.75);

		@media (min-width: $small) {
			width:70%;
		}

		@media (min-width: $medium) {
			width: 50%;
		}
	}

	&__title {
		margin-bottom: 1rem;
		color: $color-2;

		@media (min-width: $small) {
			margin-bottom: 2rem;
		}
	}

	&__subtitle {
		font-size: 2rem;
		line-height: 1.2;

		@media (min-width: $small) {
			font-size: 3rem;
		}

	}
}