/* ==========================================================================

// Plugin overwite
// Styles to be fixed or re-factured at a later date.

/* ========================================================================== */


/* ============================
 * Flexslider
 * ==========================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ============================
 * BASE STYLES
 * ==========================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
  position: relative;
}
.flexslider .slides img {
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* =========================
 * DEFAULT THEME
 * =========================*/
.flexslider {
  margin: 0;
  position: relative;
  zoom: 1;
  background-color: #fff;
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  -moz-user-select: none;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0.4;
  cursor: pointer;
  text-align: center;

  background-color: #999999;
  border-radius: 3px;

  width:30px;
  height:30px;
  margin:-15px -10px 0;

  &:link, &:visited, &:hover {
  	 color: #fff;
  	 text-decoration: none;
  }
}

.flex-direction-nav a:before {
  font-family: "jimba_2016";
  display: inline-block;
  content: '\e901';

  font-size:18px;
  line-height:30px;
}

.flex-direction-nav a.flex-next:before {
  content: '\e902';
}

.flexslider .flex-direction-nav a:hover {
  opacity: 0.7;
}

.flexslider .flex-direction-nav .flex-prev {
  left: 0;
}
.flexslider .flex-direction-nav .flex-next {
  right: 0;
}

.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}

.flexslider .slides > li {
	background-color: $color-1;
}