/*-----------------------------------
* Video
*------------------------------------*/
.table {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.td {
	display: table-cell;
	vertical-align: middle;
}