/* ==========================================================================
   Message for Old IE user
   ========================================================================== */

.old-browser-message, .outside-message {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 9999;

  background: #000;
  border:1px solid yellow;
  border-left:none;
  border-right: none;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding:5px 10px;
  display: none;

  html.no-csstransitions & {
    display: block;
  }
}

.outside-message {
  display: block;
  bottom:50%;
  font-size: 18px;
}

.close-oldbrowser-msg {
  background-color: red;
  color: #fff;
  text-decoration: none;
  display: inline;
  display: inline;
  padding:2px 5px;
  cursor: pointer;
}
